<li>
  <div style="display: flex;">
    <div>
      <%= gravatar_for user, size: 50 %>
    </div>
    <div>
      <%= link_to user.name, user %>
      <p style="color: gray">
        <%= t :following %>: <%= user.following.count %>
        , 
        <%= t :followers %>: <%= user.followers.count %>
      </p>
      <%= simple_format(h(user.introduction)) %>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to (t :delete), user, data: { "turbo-method": :delete,
                                              turbo_confirm: "You sure?" } %>
      <% end %>
    </div>
  </div>
</li>
